@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');

:root {
    --imperial: #e63946ff;
    --honeydew: #f1faeeff;
    --powder: #a8dadcff;
    --celadon: #457b9dff;
    --prussian: #1d3557ff;
}

* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

h3, h4, h5, h6 {
    margin: 1vw;
}

body {
    background-color: var(--honeydew);
    font-family: 'Roboto Condensed', sans-serif;
}